
<div>
  <h1 id="title" class="center-text">Quizzes</h1>

  <div class="parent">
    <mat-form-field>
      <input class="center-input" matInput placeholder="Search quiz" value="" [(ngModel)]="userSearch">
    </mat-form-field>
  </div>
</div>
<h1 *ngIf="isLoading">
  Please wait, we are loading the quizzes
</h1>

<div *ngFor="let quiz of quizzes | quizPipe: userSearch" class="display-quizzes-cards">

  <app-quiz *ngIf="!isLoading"
    [quiz]="quiz"
    (quizClicked)="handleQuizClicked($event)" class="center-div"></app-quiz>

</div>
