.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.margin-bot{
  margin: 5% 15px;
}

.display-question-cards{
  max-width: 40%;
  display: inline-flex;
  margin: 5% 15px;
}

